<%= render :partial => "layouts/shared/sidebar" %>

<div class="column" id="content">
  <div class="ui grid">
    <%= render :partial => "layouts/shared/notice"%>
    <div class="ui divider"></div>
    
    <div class="ui hidden section divider"></div>
    <div class="row">
      <h1 class="ui huge header">
        Dashboard
      </h1>
    </div>
    <div class="ui divider"></div>

    <div class="row">
        

    </div>

  </div>

</div>