<%= render :partial => "layouts/shared/sidebar" %>

<div class="column" id="content">
  <div class="ui grid">
    <%= render :partial => "layouts/shared/notice"%>
    <div class="ui divider"></div>
    
    <div class="ui hidden section divider"></div>
    <div class="row">
      <h1 class="ui huge header">
        Dashboard
      </h1>
    </div>
    <div class="ui divider"></div>


    <div class="ui grid">
            <div class="four column center aligned row">
              <div class="column">
                <img class="ui centered small circular image" src="../../static/images/templates/semantic-ui/wireframe/square-image.png" />
                <div class="ui hidden divider"></div>
                <div class="ui large green label">
                  Label
                </div>
                <p>
                  Something else
                </p>
              </div>
              <div class="column">
                <img class="ui centered small circular image" src="../../static/images/templates/semantic-ui/wireframe/square-image.png" />
                <div class="ui hidden divider"></div>
                <div class="ui large blue label">
                  Label
                </div>
                <p>
                  Something else
                </p>
              </div>
              <div class="column">
                <img class="ui centered small circular image" src="../../static/images/templates/semantic-ui/wireframe/square-image.png" />
                <div class="ui hidden divider"></div>
                <div class="ui large pink label">
                  Label
                </div>
                <p>
                  Something else
                </p>
              </div>
              <div class="column">
                <img class="ui centered small circular image" src="../../static/images/templates/semantic-ui/wireframe/square-image.png" />
                <div class="ui hidden divider"></div>
                <div class="ui large red label">
                  Label
                </div>
                <p>
                  Something else
                </p>
              </div>
            </div>
            <div class="ui hidden section divider"></div>
            <div class="row">
              <h1 class="ui huge header">
                Section title
              </h1>
            </div>
            <div class="ui divider"></div>
            <div class="row">
              <table class="ui single line striped selectable table">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1,001
                    </td>
                    <td>
                      Lorem
                    </td>
                    <td>
                      ipsum
                    </td>
                    <td>
                      dolor
                    </td>
                    <td>
                      sit
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,002
                    </td>
                    <td>
                      amet
                    </td>
                    <td>
                      consectetur
                    </td>
                    <td>
                      adipiscing
                    </td>
                    <td>
                      elit
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,003
                    </td>
                    <td>
                      Integer
                    </td>
                    <td>
                      nec
                    </td>
                    <td>
                      odio
                    </td>
                    <td>
                      Praesent
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,003
                    </td>
                    <td>
                      libero
                    </td>
                    <td>
                      Sed
                    </td>
                    <td>
                      cursus
                    </td>
                    <td>
                      ante
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,004
                    </td>
                    <td>
                      dapibus
                    </td>
                    <td>
                      diam
                    </td>
                    <td>
                      Sed
                    </td>
                    <td>
                      nisi
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,005
                    </td>
                    <td>
                      Nulla
                    </td>
                    <td>
                      quis
                    </td>
                    <td>
                      sem
                    </td>
                    <td>
                      at
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,006
                    </td>
                    <td>
                      nibh
                    </td>
                    <td>
                      elementum
                    </td>
                    <td>
                      imperdiet
                    </td>
                    <td>
                      Duis
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,007
                    </td>
                    <td>
                      sagittis
                    </td>
                    <td>
                      ipsum
                    </td>
                    <td>
                      Praesent
                    </td>
                    <td>
                      mauris
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,008
                    </td>
                    <td>
                      Fusce
                    </td>
                    <td>
                      nec
                    </td>
                    <td>
                      tellus
                    </td>
                    <td>
                      sed
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,009
                    </td>
                    <td>
                      augue
                    </td>
                    <td>
                      semper
                    </td>
                    <td>
                      porta
                    </td>
                    <td>
                      Mauris
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,010
                    </td>
                    <td>
                      massa
                    </td>
                    <td>
                      Vestibulum
                    </td>
                    <td>
                      lacinia
                    </td>
                    <td>
                      arcu
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,011
                    </td>
                    <td>
                      eget
                    </td>
                    <td>
                      nulla
                    </td>
                    <td>
                      Class
                    </td>
                    <td>
                      aptent
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,012
                    </td>
                    <td>
                      taciti
                    </td>
                    <td>
                      sociosqu
                    </td>
                    <td>
                      ad
                    </td>
                    <td>
                      litora
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,013
                    </td>
                    <td>
                      torquent
                    </td>
                    <td>
                      per
                    </td>
                    <td>
                      conubia
                    </td>
                    <td>
                      nostra
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,014
                    </td>
                    <td>
                      per
                    </td>
                    <td>
                      inceptos
                    </td>
                    <td>
                      himenaeos
                    </td>
                    <td>
                      Curabitur
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,015
                    </td>
                    <td>
                      sodales
                    </td>
                    <td>
                      ligula
                    </td>
                    <td>
                      in
                    </td>
                    <td>
                      libero
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

     




      

    

  </div>

</div>